server_web_hosts          "127.0.0.1"
server_queue_interval     "1800"
server_spool_dir          "spool/"
server_done_dir           "done/"
server_spool_interval     "10"
logfile                   "limez.log"
server_backlog            "5"
server_admin              "admin@limez.net"
server_port               "1025"
server_remote_port        "25"
server_timeout            "120"
server_mail               "limez"
server_string             "List Mezzenger"
server_config             "limez.config"
server_cachetime          "86400"
server_max_hops           "10"
server_max_queuetime      "432000"
server_max_queuetries     "100"
server_max_mailsize       "3145728"
server_web_pass           "admin"
mailinglist               "lists/test/config"
server_domain             "limez.net"
server_subject            "Limez results"
server_web_hosts          "192"
server_max_procs          "16"
